# ================================
# 💾 Ignorer les fichiers sensibles
# ================================

# Clés API et fichiers sensibles
key.txt
organization.txt
url.txt
/fonts
/client-python
/summaries
/mistral_env
*.pdf
.env

# Logs et fichiers temporaires
*.log
*.tmp
*.bak
*.txt
# Dossiers Python
__pycache__/
*.pyc

# ================================
# 📂 Ignorer tous les fichiers JSON
# ================================

*.json
*.jsonl
/client-python/